<% layout('layout') -%>
<div class="hero-unit">
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>
    <a class="btn btn-primary btn-large" href="/login">Login</a>
    <a class="btn btn-large" href="/reg">register</a>
    </p>
</div>
<div class="row">
    <div class="span4">
        <h2> xt says</h2>
        <p>some day, moon day</p>
    </div>
    <div class="span4">
        <h2> nats says</h2>
        <p> another day</p>
    </div>
    <div class="span4">
        <h2> npc says</h2>
        <p> every npc has a story </p>
    </div>
</div>
